<div class="container">
  <form>

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Livro</h1>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
      </div>
      <a href="javascript:;">Voltar para a pesquisa</a>
    </div>

  </form>
</div>
